debug/
target/
Cargo.lock
**/*.rs.bk

# MSVC Windows builds of rustc generate these, which store debugging information
*.pdb

*.swp

# The actual config files we use
stag.toml
.spotify_token_cache.json
